<div class="login">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" formControlName="email" placeholder="Enter your email">
        <div
            *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">
            <div *ngIf="loginForm.controls['email'].errors.required" style="color: red;">This Field Cannot be empty
            </div>
            <div *ngIf="loginForm.controls['email'].errors.email" style="color: red;">Invalid email format.</div>
        </div>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your password">
        <div
            *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
            <div *ngIf="loginForm.controls['password'].errors.required" style="color: red;">This Field Cannot be empty
            </div>
            <div *ngIf="loginForm.controls['password'].errors.pattern" style="color: red;">Invalid format.</div>
        </div>
        <input type="submit" value="Login">
        <p>Don't Have Account? <a href="http://localhost:4200/signup">Sign Up</a></p>
    </form>
</div>